body {
    height: 100%;
}


.bgg{
  background-image: url("about.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 25%;
  background-repeat: no-repeat;
  height: 100%; 
  opacity: 0.9;


}

