body {
    height: 100%;
    width:100%;
    background-color: blue;
}


.about {
background: url(hock.jpg) no-repeat center;
background-size: cover;

background-attachment: fixed;
height:500px;

}

.about2 {
background: url(dog.JPG) no-repeat center;


}


.header {
	text-align: center;
	text-align: center;
}

.container {
	width: 100%;
	
	background-size: cover;
	font-size: 20px;
	font-family: 'Noto Serif', serif;;
}