body {
    height: 100%;
}


.bg{
  background-image: url("sky.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 25%;
  background-repeat: no-repeat;
  height: 100%; 
  opacity: 0.9;


}



.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
}

