.container {
	max-width:960px;
	margin: 0 auto;
	background: #f9f9f9;
	font-size: 24px;
	padding: 25px;
}

.Parralax {
background: url(kegb.jpg) no-repeat center;
background-size: cover;
background-attachment: fixed;
height: 500px;

}
.more {
background: url(3.jpg) no-repeat center;
background-size: cover;
background-attachment: fixed;
height: 400px;

}

